<%= turbo_frame_tag "chats", src: @chats.all.nil? ? "/rooms/#{@room.id}/chats" : nil do %>
    <div id="chats">
        <% if @chats.all %>
            <%= @chats.inspect %>

            <%= @players.each do |player| %>
                <%= link_to player.name, room_player_path(room_id: @room.id, id: player.id), data: { "turbo": false } %>
            <% end %>
            <% @chara = @chats.all %><br>


<% @chara = @chats.all %><br>


<%= @chara.match(/ストーリー(：|:).+[\s]?(.+)\S/).nil? ? "nil" : @chara.match(/ストーリー(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/凶器(：|:)(.+)/).nil? ? "nil" : @chara.match(/凶器(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/犯行場所(：|:)(.+)/).nil? ? "nil" : @chara.match(/犯行場所(：|:)(.+)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/犯行時刻(：|:)(.+)/).nil? ? "nil" : @chara.match(/犯行時刻(：|:)(.+)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/被害者の名前(：|:)(.+)/).nil? ? "nil" : @chara.match(/被害者の名前(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/被害者の性別(：|:)(.+)/).nil? ? "nil" : @chara.match(/被害者の性別(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/被害者の性格(：|:)(.+)/).nil? ? "nil" : @chara.match(/被害者の性格(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/被害者の職業(：|:)(.+)/).nil? ? "nil" : @chara.match(/被害者の職業(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/のうち犯人.(：|:)(.*[\s]?)(.+)/).nil? ? "nil" : @chara.match(/のうち犯人.(：|:)\s{0,2}(.+)/) %><br>
<%= @chara.match(/名前(：|:)\s{0,2}(.+)/).nil? ? "nil" : @chara.match(/の名前(：|:)\s{0,2}(.+)/)[2] %><br>
<%= @chara.match(/の性別(：|:)\s{0,2}(.+)/).nil? ? "nil" : @chara.match(/の性別(：|:)\s{0,2}(.+)/)[3] %><br>
<%= @chara.match(/の性格(：|:)(.*)/).nil? ? "nil" : @chara.match(/の性格(：|:)\s{0,2}(.+)/)[3] %><br>
<%= @chara.match(/の職業(：|:)(.*)/).nil? ? "nil" : @chara.match(/の職業(：|:)\s{0,2}(.+)/)[3] %><br>
<%= @chara.match(/のここにいる理由.*(：|:)(.*[\s]?)(.+)/).nil? ? "nil" : @chara.match(/のここにいる理由.*(：|:)\s{0,2}(.+)/) %><br>
<%= @chara.match(/(.*[\s].+)/).nil? ? "nil" : @chara.match(/人物(1|１)の秘密の種類(：|:)\s{0,2}(.+)/) %><br>
<%= @chara.match(/が.+?[１|1]を独白させてください(：|:)(.*[\s]?.*)/).nil? ? "nil" : @chara.match(/が.+(１|1)を独白させてください(：|:)[\s]{0,2}(.+)/)[4] %><br>
<%= @chara.match(/が.+(２|2)を独白させてください(：|:)(.*[\s]?.*)/).nil? ? "nil" : @chara.match(/が.+(２|2)を独白させてください(：|:)[\s]{0,2}(.+)/)[4] %><br>
<%= @chara.match(/が.+(３|3)を独白させてください(：|:)(.*[\s]?.*)/).nil? ? "nil" : @chara.match(/が.+(３|3)を独白させてください(：|:)[\s]{0,2}(.+)/)[4] %><br>
<%= @chara.match(/が.+(３|3)を独白させてください(：|:)(.*[\s]?.*)/).nil? ? "nil" : @chara.match(/(人物(1|１)|.+)、(人物(2|２)|.+)、(人物(3|３)|.+)のうち犯人.*(：|:)\s{0,1}(.+)/) %><br>

        <% else %>
            writing mistery...
        <% end %>
    </div>
<% end %>
